
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
  <main>
    <!-- HEADER -->
    <header>
      <div class="logo">
        DESAFIO
      </div>
    </header>  
    
    <section id="home">
      <div>
        <h2>Desafio PrimeTS(Março/2020)</h2>
        <span>
          Esse projeto me marcou bastante, pois eu era um desenvolvedor inexperiente e tinha acabado de acontecer a pandemia (que foi uma coisa nova que mudou nossas vidas), as escolas queriam uma solução que os pais ou responsáveis poderiam informar se a criança possui algum tipo de sintoma da covid, a empresa teve a ideia de implementar a solução para o produto, a solução deveria existir tanto na parte web quanto na parte mobile.
        Foi dada a mim a tarefa de fazer a inovação com o prazo de uma semana, quando ouvi o prazo perguntei o porquê de um prazo tão curto, me deram a justificativa afirmando que já tinham prometido as escolas que a inovação estaria no mercado em uma semana, foi aí que bati o pé e disse que não daria tempo, pois era uma inovação um pouco complexa, com campos dinâmicos e seria tanto na parte web quanto na mobile, então seriam duas implementações, sugeri que se era uma demanda de muita urgência, deveríamos dividir em duas partes e um desenvolvedor atuaria na parte web e outro na parte mobile.
            Depois dos meus argumentos fomos conversar com toda a equipe e os outros desenvolvedores ficaram do meu lado e me elogiaram pela minha explicação e estimativa de complexidade.
        A demanda consistia em fazer um quiz de perguntas e respostas, as perguntas a instituição que poderia cadastrar, assim como as respostas, as respostas deveria ser apenas de sim ou não, pois deveria ser uma coisa rápida para os pais responderem.
        Foi feito em um projeto ASP.NET(MVC) e foi feito um CRUD completo das perguntas, o cadastro de perguntas era dinâmico, o usuário poderia cadastrar quantas perguntas ele quisesse, assim a validação dos campos e inserção dos campos foi todo feito por javascript.
        </span>
      </div>
    </section>
  </main>  
</body>
</html